.statList {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 360px;

  text-align: center;
}

.listItem {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.percentage {
  font-weight: 600;
  font-size: larger;
}
